COMPARTMENT_ID=<your-compartment-id>
AUTH_PROFILE=<your-config-profile-id>
SERVICE_ENDPOINT=https://inference.generativeai.us-chicago-1.oci.oraclecloud.com
GEN_AI_MODEL=xai.grok-4-fast-non-reasoning
OPENAI_INNO_DEV1=<openai-api-key>
OCI_CONVERSATION_STORE_ID=<optional-conversation-store-id>
OCI_OPENAI_PROJECT=<required-conversation>

# Reverse-proxy/public URL settings
PUBLIC_BASE_URL=https://venus.aisandbox.ugbu.oraclepdemos.com/edge_aistack/<route>
SERVER_BIND_HOST=<binded-host>
SERVER_BIND_PORT=<server-port>

# DB EDGE
DB_PASSWORD=<your-db-password>
DB_WALLET_PATH=<your-wallet-path-location>
DB_WALLET_PASSWORD=<your-db-wallet-password>
DB_USER = <your-db-user>
DB_DSN = <dns-wallet-config>
DB_CONNECTION_MODE=persistent

LANGFUSE_SECRET_KEY=<sk-langfuse-key>
LANGFUSE_PUBLIC_KEY=<pk-langfuse-key>
LANGFUSE_HOST=https://apps.research-lab.ugbu.oraclepdemos.com/langfuse
LANGFUSE_USER_ID=<preferred-tracing-id>

APP_OBSERVABILITY_ENABLED=True
LANGFUSE_TRACING_ENABLED=True